<h1>How many vowels are missing</h1>

<form action="/#####">
 <div class="form-group">
   <label for="##">Enter a string of words:</label>
   <input id="##" name="##" class="form-control" type="text">
 </div>
 <button type="submit" class ="btn-success">Send</button>



</form>
