<h1>How many vowels are missing</h1>

<form action="/result">
 <div class="form-group">
   <label for="result">Enter a string of words:</label>
   <input id="result" name="result" class="form-control" type="text">
 </div>
 <button type="submit" class ="btn-success">Send</button>



</form>
