<h1>How many vowels are missing</h1>

<form action="/results">
 <div class="form-group">
   <label for="results">Enter a string of words:</label>
   <input id="results" name="results" class="form-control" type="text">
 </div>
 <button type="submit" class ="btn-success">Send</button>



</form>
